html{
    font-size: 16px;
}
.flex-container{
  display:flex;
}
.vert-flex-container{
  display:flex;
  flex-direction: column;
}

body{
  font-family: Helvetica;
}

.container{
  width: 100%
  margin: 0 auto;
}
header{
  height: 64px;
 background-color: red;
}

header nav{
  margin: 1.5rem 1.5rem 1.5rem auto;
  align-items: center;
}

header .logo{
  margin-left: 1.5rem;
  align-items: center;
}

.logo img{
  height: 3rem;
  background-color: red;
}
.logo span{
  font-size: 1.5rem;
}
.logoDecA{
  font-weight: bold;

}

nav span{
  margin-left: 1rem;
}


/*Banner Section*/
.banner{
  align-items: center;
  background-color: lightgrey;
}
.bannerImg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2rem 1.5rem;
  width: 60%;
  height: 50rem;
  background-color: blue;
  background-image: url('../images/banner.jpg');
}

.bannerText{
  width: 30%;
  justify-content:space-between;
  height: 25rem;
  margin-top: 2rem;
  margin-left: 1.5rem;
}

.bannerText h1{
  font-size: 4rem;
  font-weight: bold;
}

.bannerText span{
  font-size: 2rem;
  line-height: 3rem;
}

.bannerText .button{
  height: 20%;
  text-align: center;
  background-color: gray;
}
.button span{
  color: white;
  font-size: 2rem;
  vertical-align: middle;
  position: relative;
  top: auto;
}

/*Content/Thesis Section*/
.content{

  width: 100%;
  background-color: orange;
}


.contentLeft, .contentRight{
  margin: 2rem 0 1.5rem 2rem;
}
.contentLeft{
    background-color: red;
    width: 60%;


}
.contentRight{
    background-color: blue;
    width: 40%;
    border-left: 0.062rem solid gray

}

.contentLeft div{
  height: 30rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../images/information-main.jpg');
}

.headlineText{
  font-size: 3rem;
  font-weight: bold;
}

.content h1{
    margin: 2rem auto 1.5rem 0;
}
.contentLeft p{
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem auto 2rem 0
}
.textStyle{
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.75rem;
}



.smContentImg{
  width: 35%;
  height: 12rem;
  margin: 1rem;
}

.contentRight .flex-container {
  border: 0.062rem solid gray;

}

.contentRight .vert-flex-container{
  justify-content: center;
  width: 65%;
}
.medHeadlines{
  font-weight: 600;
  font-size: 1.75rem;
}
.contentRight h3{
  margin-bottom: 0.5rem;
}

.contentRight span{
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  line-height: 1.75rem;
}

.contentRight  a{
  font-size: 1.25rem;
  color: lightblue;
}

.thesisVideo{
  margin-top: 0;
  width: 100%;
}

#thesisRight{
  margin-right: 1rem;
  border: none;
}


/*Learn Section*/
.learnSection{
  background-color: green;
  align-items: center;

}
.learnSection .headlineText{
margin: 2rem 0;
}
.learnSection img{
  width: 100%;

}

.learnSection span{
    font-size: 1.25rem;
    margin-top: 0.5rem;
}

.learnSection span,
.learnSection h2{
  width: 85%;
}

.learnSection .vert-flex-container{
  width:27%;
  margin: 1rem 1rem;
  background-color: blue;
}

.learnText{
  margin: 1rem 0 2rem 2rem;
  display:flex;
  flex-direction: column;
}

.learnSection .medHeadlines{
  margin-bottom: 0.5rem;
}

.row, .row2{
  justify-content: center;
}

.row2{
  margin-bottom: 1rem;
}
