html{
    font-size: 16px;
    overflow-x: hidden;
}


.flex-container{
  display:flex;
}
.vert-flex-container{
  display:flex;
  flex-direction: column;
}

body{
  font-family: Helvetica;
}

.container{
  width: 100%;
  margin: 0 auto;
  word-wrap: break-word;
}

/*Header Section*/

header{
 height: 4rem;

}

header nav{
  margin: 1.5rem 1.5rem 1.5rem auto;
  align-items: center;
}

header .logo{
  margin-left: 1.5rem;
  align-items: center;
}

.logo img{
  height: 3rem;

}
.logo span{
  font-size: 1.5rem;
}
.logoDecA{
  font-weight: bold;
  color: hsl(0, 0%, 30%);
}

.logoDecB{
  color:hsl(0, 0%, 45%);
}

nav a{
  margin-left: 1rem;

}
.mobileNav{
  display:none;
}
.normNav{
  font-size: 1.25rem;

}

.normNav:hover{
  font-weight: bold;
}

.normNav:link{
  text-decoration: none;
  color:hsl(0, 0%, 30%);
}

.normNav::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

@media only screen and (max-width: 470px) {

  .mobileNav{
    display:block;
    height: 3rem;
  }
  .logoDecA, .logoDecB, .normNav{
    display:none;
  }

  header .logo{
    justify-content: space-between;
    width: 100%;
  }
}
/*Banner Section*/
.banner{
  align-items: center;
  background-color: hsl(0, 0%, 85%);
  height: 50%;
  width: 100%;
}
.bannerImg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2rem 1.5rem;
  width: 60%;
  height: 50rem;
  background-image: url('../images/banner.jpg');
}

.bannerText{
  width: 30%;
  justify-content:space-between;
  height: 50%;
  margin: 2rem auto 1.5rem 2rem;
  color:hsl(0, 0%, 30%);

}

.bannerText h1{
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 3rem;
  color: hsl(0, 0%, 30%);
}

.bannerText span{
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 3rem;
}
.bannerText .button{
  transition: background-color 550ms linear;
}

.bannerText .button{
  height: 20%;
  text-align: center;
  background-color: hsl(0, 0%, 30%);

}

.button span{
  color: white;
  font-size: 2rem;
  vertical-align: middle;
  position: relative;
  top: auto;
}
.button:hover{
  background-color: hsl(180, 60%, 65%);
}
@media only screen and (max-width: 470px) {
.banner{
  flex-direction: column;
}

.bannerImg{
  height: 20rem;
  margin: 0 0 2rem 0;
  width: 100%;
}

.bannerText{
  width: 100%;
  height: 25rem;
  margin-top: 0;
  margin-left: 1rem;
  justify-content:space-around;
}

.bannerText h1{
  font-size: 2.5rem;
}

.bannerText .button{
  width: 80%;
  display: inline-block;
  margin: 0 auto;
}


}
/*Content/Thesis Section*/
.content{
  width: 100%;
}


.contentLeft, .contentRight{
  margin: 2rem 0 1.5rem 2rem;
}
.contentLeft{
    width: 60%;
}
.contentRight{
    width: 40%;
    border-left: 0.062rem solid gray
}

.contentRight .flex-container:nth-child(3) {
   background-color: hsl(0, 0%, 85%);
}

.contentLeft div{
  height: 30rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../images/information-main.jpg');
}

.headlineText{
  font-size: 3rem;
  font-weight: bold;
  color: hsl(0, 0%, 30%);
}

.content h1{
    margin: 2rem auto 1.5rem 0;
}
.contentLeft p{
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem auto 2rem 0
}
.textStyle{
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.75rem;
  color:hsl(0, 0%, 45%);
}

.smContentImg{
  width: 35%;
  height: 10rem;
  margin: 1rem;
}
.mobileOrientation, .mobileCampus, .mobileGuest{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display:none;
}
.mobileOrientation{
  background-image: url('../images/information-orientation.jpg');
}

.mobileCampus{
  background-image: url('../images/information-campus-mobile.jpg');
}
.mobileGuest{
  background-image: url('../images/information-guest-lecture-mobile.jpg');
}

.contentRight .flex-container {
  border: 0.062rem solid gray;
  transition: background-color 550ms linear;

}

.contentRight .vert-flex-container{
  justify-content: center;
  width: 65%;
}
.medHeadlines{
  font-weight: 600;
  font-size: 1.75rem;
  color: hsl(0, 0%, 30%);
}
.contentRight h3{
  margin-bottom: 0.5rem;
}

.contentRight span{
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  line-height: 1.75rem;
  color:hsl(0, 0%, 45%);
}

.contentRight a{
  transition: all 550ms linear;
}
.contentRight  a:link{
  font-size: 1.25rem;
  text-decoration: none;
  color: hsl(225, 100%, 60%);

}

.contentRight  a:hover{
  color: hsl(325, 100%, 45%);

}

.thesisVideo{
  margin-top: 0;
  width: 100%;
}

#thesisRight{
  margin-right: 1rem;
  border: none;
}
.thesis{
align-items: center;
}

.thesis h1{
margin: 1rem 0;
}

.contentRight .flex-container:hover{
  background-color: hsl(30, 100%, 75%);
}

@media only screen and (max-width: 470px) {
.hideContent .contentLeft, .orientation, .campus, .guest
,.thesis .contentRight, .thesis .medHeadlines, .thesis span
, .rightFoot{
  display: none;
}

.contentRight{
  width: 100%;
}

.contentRight .flex-container {
  border: none;
  flex-direction: column;
  margin-bottom: 2rem;
}
.contentRight .vert-flex-container {
  margin-left: 2rem;
}
.contentRight{
  margin: 2rem 0 1.5rem 0;
  border: none;
}

.content{
    border-bottom: 0.15rem solid gray;
}

.smContentImg{
  width: 90%;
  height: 8rem;
  margin: 1rem;
}

.mobileOrientation, .mobileCampus, .mobileGuest{
  display: block;
  height: 12rem;
}
.thesis .contentLeft{
  width: 100%;
  margin: 0;
}



}
/*Learn Section*/
.learnSection{
  background-color: hsl(0, 0%, 85%);
  align-items: center;
  width: 100%;

}
.learnSection .headlineText{
margin: 2rem 0;
}
.learnSection img{
  width: 100%;

}

.learnSection span{
    font-size: 1.25rem;
    margin-top: 0.5rem;
    color:hsl(0, 0%, 45%);
}

.learnSection span,
.learnSection h2{
  width: 85%;
}

.learnSection .vert-flex-container{
  width:27%;
  margin: 1rem 1rem;
  background-color: hsl(0, 0%, 100%);
  transition: background-color 550ms linear;
}

.learnText{
  margin: 1rem 0 2rem 2rem;
  display:flex;
  flex-direction: column;
}

.learnSection .medHeadlines{
  margin-bottom: 0.5rem;
}

.row, .row2{
  justify-content: center;
  width: 100%;
}

.row2{
  margin-bottom: 1rem;
}

.learnSection a:link{
text-decoration: none;
color: hsl(0, 0%, 0%)
}

.learnSection a:hover{
  background-color: hsl(180, 60%, 65%);
}
.learnSection a:visited{
  background-color: hsl(0, 0%, 65%);
}

.thesis .contentRight:nth-child(1){
  background-color: hsl(0, 0%, 70%);
}

@media only screen and (max-width: 470px) {
  .row, .row2{
    flex-direction: column;

  }

  .learnSection .vert-flex-container{
    width: 90%;
    margin: 0.25rem 1rem;
  }

  .learnSection img,
  .learnSection span{
    display: none;
  }
  .learnSection h2{
    margin: 1rem auto 1.5rem 1rem;
  }




}

/*Footer Section*/

footer{
  border-top: .05rem solid gray;
  align-items: center;
  font-size: 1.25rem;
  color:hsl(0, 0%, 45%);
}
footer a:link{
    text-decoration: none;
    color: hsl(0, 0%, 30%);
}
footer a:hover{
  color: hsl(0, 0%, 0%);
}
.rightFoot{
  margin: 1rem 2rem 2rem auto
}
.leftFoot{
  margin: 1rem auto 2rem 2rem;
}

@media only screen and (max-width: 470px) {
  .leftFoot{
    display:block;
  }
}
